
.idea/.idea.DiningHall/.idea/encodings.xml
.idea/.idea.DiningHall/.idea/indexLayout.xml
*.xml
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/DiningHall.deps.json
bin/Debug/net6.0/DiningHall.dll
bin/Debug/net6.0/DiningHall.exe
bin/Debug/net6.0/DiningHall.pdb
bin/Debug/net6.0/DiningHall.runtimeconfig.json
bin/Debug/net6.0/Microsoft.OpenApi.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/DiningHall.AssemblyInfo.cs
obj/Debug/net6.0/DiningHall.AssemblyInfoInputs.cache
obj/Debug/net6.0/DiningHall.assets.cache
obj/Debug/net6.0/DiningHall.csproj.AssemblyReference.cache
obj/Debug/net6.0/DiningHall.csproj.CopyComplete
obj/Debug/net6.0/DiningHall.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/DiningHall.csproj.FileListAbsolute.txt
obj/Debug/net6.0/DiningHall.dll
obj/Debug/net6.0/DiningHall.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/DiningHall.genruntimeconfig.cache
obj/Debug/net6.0/DiningHall.GlobalUsings.g.cs
obj/Debug/net6.0/DiningHall.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/DiningHall.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/DiningHall.pdb
obj/Debug/net6.0/ref/DiningHall.dll
obj/Debug/net6.0/refint/DiningHall.dll
obj/Debug/net6.0/staticwebassets.build.json
obj/DiningHall.csproj.nuget.dgspec.json
obj/DiningHall.csproj.nuget.g.props
obj/DiningHall.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/rider.project.restore.info
obj/staticwebassets.pack.sentinel
bin/Debug/net6.0/Settings/appsettings.Development.json
bin/Debug/net6.0/Settings/appsettings.json
obj/Kitchen.csproj.nuget.g.props
obj/Kitchen.csproj.nuget.dgspec.json
obj/Kitchen.csproj.nuget.g.targets
obj/Debug/net6.0/Kitchen.AssemblyInfo.cs
obj/Debug/net6.0/Kitchen.AssemblyInfoInputs.cache
obj/Debug/net6.0/Kitchen.assets.cache
obj/Debug/net6.0/Kitchen.csproj.AssemblyReference.cache
obj/Debug/net6.0/Kitchen.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Kitchen.GlobalUsings.g.cs
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
.idea/.idea.Kitchen/.idea/vcs.xml
.idea/.idea.Kitchen/.idea/indexLayout.xml
.idea/.idea.Kitchen/.idea/encodings.xml
